* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

/*#root { 
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center; 
   
}*/
body {
  background-color: lightgray;
}

.main {
  min-height: calc(100vh - 150px);
}

.App {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#product_form {
  display: flex;
  border: 2px solid #141414;
  width: 100%;
}

.product_type__form {
  width: auto;
}

li {
  width: 100%;
  display: flex;
  list-style-type: none;
}

.product__slider {
  padding-bottom: 20px;
  padding-top: 10px;
}

.product__slider h1 {
  padding-bottom: 15px;
}

#productType {
  margin-top: 2;
  max-width: 400px;
  border: 2px solid #000;
}
/*
.container { 
  
}
 
.cards {
  padding: 40px 40px;
  border: 2px solid teal;
  justify-content: space-between;
  align-items: center;
}
*/

label {
  font-size: 1vw;
  text-align: center;
  padding: 10px;
}

p {
}

input[type="checkbox"] {
  height: 1vw;
  margin: 10px;
}

.product {
  border: 2px solid #000;
}
.slick-slider {
  width: 100%;
  overflow: hidden;
}
.slick-list {
  position: relative;
  display: block !important;
  width: 100%;
}
.slick-slide div {
  width: auto;
  margin-right: 10px;
}
.slick-slide label {
  width: calc(100% - 10px) !important;
}

/* For the demo */
.slick-prev,
.slick-next {
  z-index: 999 !important;
}
.slick-prev {
  left: 25px !important;
}
.slick-next {
  right: 25px !important;
}

/*.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top:15px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: 'wrap';
    gap: 50px;

}

.post__content {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    
}*/

.navbar {
  display: flex;
  align-items: center;
  padding: 15px;
  background: lightgray;
}

.navbar__links {
  margin-left: auto;
}
