* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: lightgray;
}

.main {
  min-height: calc(100vh - 150px);
}

.App {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#product_form {
  width: 100%;
  min-height: calc(100vh - 150px);
  padding: 3rem 2rem 3rem 2rem;
}

.product_type__form {
  width: auto;
}

li {
  width: 100%;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.product__slider {
  padding-bottom: 20px;
  padding-top: 10px;
}

.product__slider h1 {
  padding-bottom: 15px;
}

label {
  font-size: 1vw;
  text-align: center;
  padding: 10px;
}

fieldset label {
  text-align: right;
}

input[type="checkbox"] {
  height: 1vw;
  margin: 10px;
}

.product {
  border: 2px solid #000;
}
.slick-slider {
  width: 100%;
  overflow: hidden;
}
.slick-list {
  position: relative;
  display: block !important;
  width: 100%;
}
.slick-slide div {
  width: auto;
  margin-right: 10px;
}
.slick-slide label {
  width: calc(100% - 10px) !important;
}

/* For the demo */
.slick-prev,
.slick-next {
  z-index: 3 !important;
}
.slick-prev {
  left: 25px !important;
}
.slick-next {
  right: 25px !important;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 15px;
  background: lightgray;
}

.navbar__links {
  margin-left: auto;
}

#productType {
  margin-top: 2;
  max-width: 400px;
  border: 2px solid #000;
}
