.myInput {
  padding: 5px 15px;
  border: 1px solid #141414;
}

.myInput[type="checkbox"] {
  width: 20%;
  margin: 20px 0 5px 0;
  height: 20px;
}

.myInput[type="checkbox"]:checked {
  border: solid 2px purple;
  color: purple;
}

.myInput:required:valid {
  border-color: green;
}

.myInput:required:invalid {
  border-color: red;
}

.myInput:focus:invalid {
  background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg")
    no-repeat 95% 50% lightsalmon;
  background-size: 25px;
}

input:required:focus:valid {
  background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg")
    no-repeat 95% 50% lightgreen;
  background-size: 25px;
}
